.faq-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.faq-section h2 {
    margin-bottom: 10px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: #865F44;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.active {
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 0;
    font-size: 1em;
    line-height: 1.5;
}

.faq-answer.active {
    max-height: 200px; /* Adjust as needed */
    padding: 10px 0;
}
hr{
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}
