.footer {
    padding: 20px 40px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo h1 {
    margin-left: 10px;
    font-size: 1.5rem; /* Adjust size as necessary */
  }
  
  .footer-links {
    list-style: none;
    display: flex;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-legal {
    text-align: center;
    flex-basis: 100%; /* makes it take the full width of its line */
    margin-top: 10px;
    font-size: 0.8rem;
  }
  